<!-- transfer.page.html
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Transferencia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label position="floating">Destinatario</ion-label>
      <ion-input [(ngModel)]="recipient" type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Cantidad</ion-label>
      <ion-input [(ngModel)]="amount" type="number"></ion-input>
    </ion-item>
  </ion-list>

  <ion-button expand="full" (click)="realizarTransferencia()">Transferir</ion-button>
</ion-content> -->

<ion-header class="ion-no-border" translucent>
  <ion-toolbar>
    <ion-title color="primary">Tansferencias</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-segment mode="ios" [value]="segmentValue" (ionChange)="segmentChanged($event)">
      <ion-segment-button value="in">
        <ion-label>Entradas</ion-label>
      </ion-segment-button>
      <ion-segment-button value="out">
        <ion-label>Salidas</ion-label>
      </ion-segment-button>

    </ion-segment>
  </ion-toolbar>
</ion-header>

