ion-content {
    .bg_circle{
        position: absolute;
        width: 33vh;
        height: 33vh;
        left: -8rem;
        top:7vh;
        border-radius: 50%;
        background: rosybrown;

    }
   
}