<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>tarjetas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">tarjetas</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content> -->

<ion-header>
  <ion-toolbar color="Primary">
    <ion-title>tarjetas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="Primary">
  <div class="bg_circle"></div>

</ion-content>